@import url("https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@theme {
    --font-sans: "Mona Sans", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

    --color-text-primary: #1e2939; /* Dark text */
    --color-text-secondary: #667085; /* Secondary text */
    --color-border: #e2e8f0;
    --color-bg: #878ff5; /* Light background */
    --color-bg-secondary: #f0f4ff; /* Secondary background */

    --color-primary: #4f46e5; /* Primary color */
    --color-primary-hover: #4338ca; /* Primary color on hover */
    --color-secondary: #f0f4ff; /* Secondary color */
    --color-secondary-hover: #fa7185cc; /* Secondary color on hover */    
    --color-light-blue-100: #c1d3f81a; /* Light blue bg (subtle) */
    --color-light-blue-200: #a7bff14d; /* Light blue bg (hover) */

    --color-error: #dc2626; /* Error color */
    --color-success: #16a34a; /* Success color */
    --color-warning: #f97316; /* Warning color */

    --color-badge-green: #d5faf1; /* Success badge bg */
    --color-badge-red: #f9e3e2; /* Error badge bg */
    --color-badge-yellow: #fceed8; /* Warning badge bg */

    --color-badge-green-text: #254d4a; /* Success text */
    --color-badge-red-text: #752522; /* Error text */
    --color-badge-yellow-text: #73321b; /* Warning text */
}

html,
body {
    @apply h-full bg-white font-sans antialiased;
}

h1 {
    @apply text-4xl font-semibold leading-tight tracking-normal pr-1;
}

h2 {
    @apply text-2xl text-text-primary;
}

label {
    @apply text-text-primary;
}

input {
    @apply w-full rounded-[8px] border border-border bg-white p-4 shadow-sm focus:outline-none focus-visible:ring-2 focus-visible:ring-primary;
}

textarea {
    @apply w-full rounded-[8px] border border-border bg-white p-4 shadow-sm focus:outline-none focus-visible:ring-2 focus-visible:ring-primary;
}

form {
    @apply flex flex-col items-start gap-8 w-full;
}

button {
    @apply cursor-pointer;
}

@utility bg-gradient {
    background: linear-gradient(to bottom, #f0f4ff 60%, #fa7185cc);
}

@utility text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-[#4f46e5] to-[#7c3aed];
}

@utility gradient-hover {
    @apply bg-gradient-to-b from-light-blue-100 to-light-blue-200;
}

@utility primary-gradient {
    background: linear-gradient(to top, #4f46e5, #878ff5);
    box-shadow: 0px 74px 21px 0px #6678ef00;
}

@utility primary-gradient-hover {
    background: linear-gradient(to top, #4338ca, #7b83f0);
}

@utility inset-shadow {
    box-shadow: inset 0 0 12px 0 rgba(36, 99, 235, 0.2);
    backdrop-filter: blur(10px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
